<div class="nested-fields" style="width: 400px; margin-top: 10px;">
  <div class="row mx-auto">
    <div class="col-5"><%= f.text_field :use_pen, class: "form-control", placeholder: "水彩筆" %></div>
    <div>
      <%= link_to_remove_association "", f, class: "btn btn-secondary btn-block bi-trash" %>
    </div>
  </div>
</div>