<div class="wrap mx-sm-auto">
  <div class="top">
    <div class='mt-5 mb-5', id="title">
        <p>
          <span>下</span>
          <span>書</span>
          <span>き</span>
          <span>一</span>
          <span>覧</span>
        </p>
    </div>
    <div class='px-5 px-sm-0'>
        <div class='offset-md-1' style="margin: 0 auto;">
            <table class="table table-hover">
                <tbody>
                    <% @posts.each do |post| %>
                        <tr>
                          <td>
                          <p>最終更新日　<%= post.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
                           <%#= post.twitter.to_s.html_safe %>
                           </td>
                            <td>					
                    				<p><%= link_to "編集", edit_post_path(post.id), class: "col btn btn-dark-blue btn-rounded" %></p>							
                    				<% post.tags.each do |tag| %>
                    					<p class="tag"><i class="bi bi-tag-fill"></i><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></p>											
                    				<% end %>
                    				</td>                     
                        </tr>
                    <% end %>
                </tbody>                   
            </table>
        </div>
    </div>
  </div>
</div>
