<div class="wrap mx-sm-auto about">
    <div class="top">
        <div class='mt-3 mb-5', id="title">
            <p>
                <span>A</span>
                <span>B</span>
                <span>O</span>
                <span>U</span>
                <span>T</span>
            </p>
        </div>
        <p class="mb-5">
            この神絵は一体なんのペンで描かれているの…？<br>
            同じペンを使えば神絵師に近づけるのでは…！？<br>
            誰しも一度は思うはず。<small>（…思うよね？）</small><br>
            このサイトであなたがイラストを描く際に使用したペンを共有してみませんか？<br>
            何度投稿しても、昔のイラストでも、新刊の宣伝を兼ねていても、なんでもOK！<br>
            掲示板ではおすすめの素材や機能、ちょっと質問したいことなど、<br>
            常識の範囲内で自由に使ってください！
        </p>
    </div>
</div>






