<body>
  <div id="title">
    <span>b</span>
    <span>o</span>
    <span>b</span>
    <span>u</span>
    <span>w</span>
    <span>o</span>
    <span>r</span>
    <span>k</span>
    <span>s</span>
  </div>
</body>