  <% if current_user.email == 'guest@example.com' %>		
    <%=  %>    
  <% else %>
    <% if @post.favorited?(current_user) %>
      <%= link_to favorites_path(post_id: @post.id), method: :delete remote: true do %>
        <span style="color:red; font-size: 30px;"><i class="bi bi-heart-fill"></i></span>
      <% end %>
    <% else %>
      <%= link_to favorites_path(post_id: @post.id), method: :post remote: true do %>
        <span style="color:gray;font-size: 30px;"><i class="bi bi-heart-fill"></i></span>
      <% end %>
    <% end %>	
  <% end %><br>