<div class="wrap mx-sm-auto">
    <div class="top">
        <div class='mt-5 mb-5', id="title">
            <p>
                <span>ソ</span>
                <span>フ</span>
                <span>ト</span>
                <span>ウ</span>
                <span>ェ</span>
                <span>ア</span>
            </p>
        </div>
        <div class="col btn_wrap mb-5">
            <%= link_to "新たに登録する" , new_admin_software_path, class: "col btn btn-funky-moon btn-rounded" %>
        </div>
        <div class='px-5 px-sm-0'>
            <div class='offset-md-1' style="margin: 0 auto;">
                <table class="table table-hover">
                    <tbody>
                        <% @softwares.each do |software| %>
                            <tr>
                            <td><%= software.name %></td>
                            <td><%= link_to "編集する", edit_admin_software_path(software.id) ,class: "col btn btn-dark-blue btn-rounded" %>
                            <%= link_to "削除する", admin_destroy_software_path(software.id), class: "col btn btn-pink-moon btn-rounded ", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>                   
                            </tr>
                        <% end %>
                    </tbody>                   
                </table>
            </div>
        </div>
    </div>
</div>
