@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
/*    background-color: ghostwhite;*/
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    position: relative;
    background-image: url("../images/back.jpeg");
    font-family: 'Noto Sans JP', sans-serif;
}
nav {
  background: linear-gradient(to right,#5b7bb4,#d0d7ff,#a6f0ff);
}
.fa-bell{
    top: 15px;
    left: -12px;
}
.navbar-collapse{
  font-weight: bold;
}
.n-circle {
  color: #efa04c;
  font-size: 20px;
}
.bell {
  margin: 0 0 0 auto;
}
.notice_count{
    font-size: 13px;
    position: absolute;
    left: 17px;
    z-index: 10;
    color: white;
    top: -1px;
}
footer {
  background: linear-gradient(to right,#5b7bb4,#d0d7ff,#a6f0ff); 
  height:60px;
}
.wrap{
  max-width: 850px;
  word-wrap: break-word;
  }
.registrations h2{
  font-size: 12px;
  }
.registrations ul{
  list-style:none;
  }
.border_gray{
  border-bottom: solid 1px #cccccc;
  }

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.about{
  line-height: 1.65;
  margin: 0 auto;
  text-align: center;
  }
h2{
  text-align: center;
}
.top{
  margin-top: 30px;
  text-align: center;
}
.table{
  background:rgba(255,255,255,0.5);
  }
.mypage{
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  }
.post_back{
  background:rgba(255,255,255,0.5);
  max-width:800px;
  }
.setting{
  position:absolute; top:0%; right:0%; 
  font-size: 26px;  
  }
.setting a{
  color: gray;
  }
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 265px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity: 0;
}

.alret{
  background-color: #dc3545; 
  text-align: center; 
  color: white;  
  }
  
.notice{
  background-color: #17a2b8;
  text-align: center;
  color: white;
  }
@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* animation */
@-webkit-keyframes passing-bar{
	0% {
		left: 0;
		right: auto;
		width: 0;
	}
	50% {
		left: 0;
		right: auto;
		width: 100%;
	}
	51% {
		left: auto;
		right: 0;
		width: 100%;
	}
	100% {
		left: auto;
		right: 0;
		width: 0;
	}
}
@keyframes passing-bar{
	0% {
		left: 0;
		width: 0;
	}
	50% {
		left: 0;
		width: 100%;
	}
	51% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0;
	}
}
@-webkit-keyframes passing-txt{
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes passing-txt{
	0% { opacity:0; }
	50% { opacity:0; }
	100% { opacity:1; }
}


/* 画像ホバー時拡大 */
.hover-img {
  cursor: pointer;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}
.hover-img img {
  height: auto;
  transition: transform .6s ease; 
}
.hover-img:hover img {
  transform: scale(1.1); 
}

figure {
  position: relative;
  overflow: hidden;
  width: 300px;
}
figcaption {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .6s;
  transition: .6s;
  text-align: center;
  color: white;
}
figure:hover figcaption {
  bottom: 0;
}
figcaption p{ margin-top: 20px;
}

/* 見出し一文字ずつ表示 */
#title{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  color: #212529;
  font-size: 32px;
  font-weight: bold;
  span{
    display: inline-block;
    transform: translateY(105%);
    @for $i from 1 to 15{
      &:nth-child(#{$i}){
        animation: fadeInText 1s ease
        .1*$i+s forwards;
      }
    }
  }
}
#title p{
  margin: 0 auto;}
@keyframes fadeInText {
  100%{
    transform: translateY(0);
  }
}
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #707CA8;
  opacity: 0.6;
  border-radius: 50%;
  }
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 7px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#canvas{
  background-size: 100%;
  height: 100%;
  width: 100%;
}
.board{
  border-bottom: solid 1px #cccccc;
  padding: 20px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.btn_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.btn-funky-moon {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    max-width: 200px;
}
.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    max-width: 100px;
}
.btn-pink-moon {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    max-width: 100px;
}
.btn-cool-blues {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    max-width: 100px;
}
.btn-rounded {
    border-radius: 35px;
    color: white;
}
.btn-fab {
    height: 50px;
    width: 53px;
    border-radius: 50%;
}

hr {
    border-top: 1px solid #9E9E9E;
}
.question_box{
  margin: 0 auto;
  }
.question_box .text_box textarea{
  width: 100%;
  }
.question_box .text_box_main textarea{
  min-height: 300px;
  }
.field_with_errors textarea{
  width: 100%;
  }
.text_box_main .field_with_errors textarea{
  min-height: 300px;
  }

.board_box .board_title {

    padding: 10px 38px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    word-wrap: break-word;
}
.board_main {
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
}
.answer_box{
  text-align: center;
  }
.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #62c1ce;
  width: 80%;
  text-align: initial;
  word-wrap: break-word;
}

.balloon1-left:after {
  content: "";
  position: absolute;
  top: 78%;
  left: -29px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #62c1ce;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
  color: white;
}
small .btn-pink-moon{
  border: none;
  font-size: 12px;
  max-width: 57px;
  }
.login a{
  min-width: 240px;
  }
.guest a{
  background-color: gray;
  }
.input_area textarea{
  width: 100%;
  }
.main_pen textarea{
  height: 38px;
  }
.sup textarea{
  height: 130px;
  }
.step_wrap{
  font-size: 11px;
  background: #FFC5F0;
  border-radius: 10px;
  padding: 6px;
  padding-left: 20px;
  }
.attention{
  color: red;
  }
.step img{
  max-width: 200px;
  }
.step1_span{
  background: gray;
  color: white;
  border-radius: 10px;
  }
.step1_span{
  background: gray;
  color: white;
  border-radius: 4px;
  padding: 1px;
  }
.step2_span{
  background:#1da1f2;
  color: white;
  border-radius: 4px;
  padding: 1px;
  }

@media screen and (min-width:992px) { 
.ml-pc{
  margin-left: 60px;
  }
.sp{
  display: none;
  }
}
@media screen and (max-width:991px) { 
.pc{
  display: none;
  }
}


