<div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
        <div class='mt-5 mb-5', id="title">
        	<p>
        		<span>S</span>
        		<span>E</span>
        		<span>A</span>
        		<span>R</span>
        		<span>C</span>
        		<span style ="margin-right:20px;">H</span>
        		<span>R</span>
        		<span>E</span>
        		<span>S</span>
        		<span>U</span>
        		<span>L</span>
        		<span>T</span>
        		<span>S</span>
        	</p>
        </div>
        <table class='table table-hover table-inverse mb-5'>
            <thead>
                <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th colspan="4"></th>
                </tr>
            </thead>
            <tbody>
                <% @results.each do |user| %>
                <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.user_name, admin_user_path(user.id) %></td>
                <td><%= user.email %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
</div>
